﻿@model Web.Models.CalculationViewModel

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="row h-100 justify-content-center align-items-center">
    @using (Ajax.BeginForm("Calculate", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "result"
    }))
    {
    <div class="form-row">
        <div class="col">
            @Html.TextBoxFor(m => m.X, new { @class = "form-control form-control-lg" })
            @Html.ValidationMessageFor(m => m.X, "", new { @class = "text-danger" })
        </div>
        <div class="col">
            @Html.DropDownListFor(m => m.Operation, new SelectList(Model.AllowedOperations), new { @class = "form-control form-control-lg" })
        </div>
        <div class="col">
            @Html.TextBoxFor(m => m.Y, new { @class = "form-control form-control-lg" })
            @Html.ValidationMessageFor(m => m.Y, "", new { @class = "text-danger" })
        </div>
        <div class="col">
            <button type="submit" class="btn btn-lg btn-success"><i class="fas fa-calculator"></i>&nbsp; Calculate</button>
        </div>
        <div class="col">
            <h1 id="result">
                0
            </h1>
        </div>
    </div>
    }
</div>


